@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

/* Global Styles */
body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #252422;
  color: #fffcf2;
  padding-top: 100px;
}

/* TopBar */
.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px; 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #252422;
  transition: all 0.3s ease-in-out;
}

.top-bar.scrolled {
  background-color: #1a1a1aa1;
  backdrop-filter: blur(10px);
}

/* Container central */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: -80px; 
}

.logo-img {
  height: 100px;
}

/* Navegação central */
.nav-links {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-links a {
  color: #fffcf2;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #CCC5B9;
}

/* Seleção de idiomas */
.language-selection {
  display: flex;
  gap: 10px;
  position: absolute;
  right: -330px;
}

.lang-icon {
  background: none;
  border: none;
  padding: 0;
  font-size: 30px;
  cursor: pointer;
  opacity: 0.5;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.lang-icon:hover {
  transform: scale(1.2);
  opacity: 1;
}

.lang-icon.selected {
  opacity: 1;
}

/* Socials */
.social-icons {
  position: absolute;
  top: 200px;
  right: 20px; 
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 10;
}

.social-icons img {
  width: 40px; 
  height: 40px; 
  cursor: pointer;
}

.social-icons a svg {
  color: white;
  transition: none; 
}

html {
  scroll-behavior: smooth; 
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  color: #fffcf2;
  overflow: hidden;
  margin-top: 0;
}

.hero-video {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #252422;
  z-index: 1;
  overflow: hidden;
  border-bottom: none; 
  clip-path: none; 
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-overlay {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); 
}

.hero-phrase {
  font-family: "Playfair Display SC", sans-serif;
  font-size: 48px; 
  font-weight: 700;
  text-transform: uppercase;
  color: #fffcf2;
  z-index: 2;
}

@media (max-width: 768px) {
  .hero-video {
    height: 60vh; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%); 
  }

  .hero-phrase {
    font-size: 1.5rem; 
  }
}

/* Corretor Section */
/* Corretor Section */
.corretor-section {
  padding: 80px 20px;
  background: linear-gradient(135deg, #1f1d1c 50%, #20201e 50%);
  color: #fffcf2;
}

.corretor-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 48px;
  transition: transform 0.3s ease-in-out;
}

.corretor-container:hover {
  transform: translateY(-10px); /* Levanta o container ao passar o mouse */
}

.corretor-text {
  flex: 1;
  max-width: 600px;
  text-align: left;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.corretor-text h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 24px;
  animation: fadeIn 1s ease-out; /* Animação de fade */
}

.corretor-text p {
  font-size: 1.125rem;
  line-height: 1.7;
  margin-bottom: 16px;
  animation: fadeIn 1.5s ease-out;
}

.corretor-image {
  flex: 1;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.corretor-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.corretor-image:hover img {
  transform: scale(1.05); /* Aumenta a imagem ao passar o mouse */
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5); /* Sombra mais forte ao passar o mouse */
}

@media (max-width: 768px) {
  .corretor-container {
    flex-direction: column;
    text-align: center;
  }

  .corretor-text {
    text-align: center;
  }

  .corretor-image img {
    width: 80%;
  }
}

/* Animações */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Depoimentos */
.carousel-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px; /* Adiciona mais distância entre os depoimentos e os imóveis */
}

.carousel-title {
  font-size: 32px;
  font-weight: bold;
  color: #fffcf2;
  text-align: center;
  margin-bottom: 30px; /* Margem abaixo do título */
}

.carousel-wrapper {
  display: flex;
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 1.5s ease-in-out;
  width: 100%;
}

.depoimento {
  flex: 0 0 calc(33.33% - 30px);
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  background: #403D39;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 15px;
  height: 300px;
}

.depoimento:hover {
  transform: scale(1.05);
}

.perfil-cliente {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  justify-content: center;
}

.foto-cliente {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.cliente {
  font-size: 20px;
  font-weight: bold;
  color: #fffcf2;
  text-transform: uppercase;
  margin: 0;
}

.depoimento p {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #fffcf2;
  margin: 10px 0;
  height: 100px;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
}

.depoimento p::after {
  content: '...';
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 20px;
  color: #fffcf2;
}

/* Responsividade */
@media (max-width: 768px) {
  .carousel-container {
    width: 100%;
  }

  .depoimento {
    flex: 0 0 calc(50% - 30px);
  }
}

@media (max-width: 480px) {
  .depoimento {
    flex: 0 0 100%;
  }
}


/* Formulário Flutuante */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.centralizado {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  transition: filter 0.3s ease;
  position: relative;
}

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
  backdrop-filter: blur(5px); /* Aplica o desfoque no conteúdo de trás */
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.form-overlay.show {
  opacity: 1;
  pointer-events: all; /* Permite interações quando o formulário está visível */
}

.form-popup {
  background: #ffffff; 
  padding: 40px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.3);
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o formulário */
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.6s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.form-popup.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1); /* Centraliza e anima o formulário */
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.3);
}

.form-popup h3 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #1a1a2e;
  font-weight: 600;
}

.form-popup p {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.form-popup input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.form-popup input:focus {
  border-color: #ecc509;
  outline: none;
}

.form-popup button {
  width: -20%;
  padding: 14px;
  border: none;
  background: #ecc509;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.form-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #ddb907 ;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-close-btn:hover {
  background: #ddb907;
}

.form-popup button:hover {
  background: #ecc509;
  transform: scale(1.05);
} 

.contact-form-section {
  scroll-margin-top: 80px; /* útil para navegação por âncoras */
}

.contact-form-section {
  margin: 80px auto;
  max-width: 800px;
  padding: 40px 20px;
  background-color: #403d39;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

.contact-title {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fffcf2;
}

/* Form WRA */
.contact-form-section {
  margin: 200px auto; 
  max-width: 800px;
  padding: 40px 20px;
  background-color: #403d39;
  border-radius: 10px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.6);
}

.b24-form-wrapper {
  background-color: transparent !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.b24-form-control-label {
  color: #252422 !important;
  font-weight: 500; 
}

.b24-form-control {
  background-color: #fffcf2 !important;
  color: #252422 !important;
  border: 1px solid #ccc5b9 !important;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
}

.b24-form-control:focus {
  border-color: #f26b36 !important;
  outline: none;
}

.b24-form-btn {
  background-color: #f26b36 !important;
  color: #fffcf2 !important;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  border: none;
  cursor: pointer;
}

.b24-form-btn:hover {
  background-color: #d15727 !important;
}

@media (max-width: 480px) {
  .contact-form-section {
    padding: 20px 10px;
    margin: 60px auto;
  }

  .contact-title {
    font-size: 24px;
  }
}


/* Footer */
footer {
  padding: 15px;
  background-color: #333;
  color: #fffcf2;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: 600; 
  line-height: 1.6; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

footer div {
  flex: 1;
  padding: 10px;
  min-width: 250px;
}

.footer-logo {
  width: 290px;
  height: auto;
  margin-bottom: 50px; 
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.footer-left h3 {
  margin-bottom: 25px; 
}

.footer-left p {
  width: 80%; 
  margin-bottom: 10px;
}

.footer-left p:last-child {
  margin-top: 150px; 
}

/* Center - Contato */
.footer-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 15px;
}

.footer-center .footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-center a {
  color: #ecc509;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-center a:hover {
  text-decoration: underline;
  color: #ecc509;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; 
}

/* Right - Política e Mapa */
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-links {
  font-size: 16px;
}

.footer-right a {
  color: #ecc509;
  margin: 0 10px;
}

.footer-right a:hover {
  color: #ecc509;
}

footer iframe {
  width: 100%;
  max-width: 600px;
  height: 300px;
  border: 0;
  margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    width: 100%;
    padding: 10px;
  }

  .footer-logo {
    width: 200px;
  }

  .footer-center p {
    font-size: 14px;
  }

  footer iframe {
    max-width: 100%;
  }
}


.cookie-banner {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  color: #ffffff;
  border: 1px solid #e8c964;
  border-radius: 12px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  padding: 20px;
  text-align: center;
}

.cookie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cookie-message {
  font-size: 1rem;
  line-height: 1.6;
  max-width: 90%;
}

.cookie-link {
  color: #e8c964;
  text-decoration: underline;
  transition: color 0.3s;
}

.cookie-link:hover {
  color: #e1bb68;
}

.cookie-buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  font-weight: 600;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.accept {
  background-color: #e8c964;
  color: #072143;
}

.accept:hover {
  background-color: #e1bb68;
}

.decline {
  background-color: #ffffff;
  color: #072143;
}

.decline:hover {
  background-color: #f0f0f0;
}

.customize {
  background: transparent;
  color: #e8c964;
  text-decoration: underline;
}

.customize:hover {
  color: #e1bb68;
}

.cookie-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 33, 67, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.cookie-modal.hidden {
  display: none;
}

.cookie-modal-content {
  background-color: #072143;
  color: #ffffff;
  border-radius: 16px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
  text-align: left;
}

.modal-title {
  font-size: 1.5rem;
  color: #e8c964;
  margin-bottom: 20px;
}

.cookie-option {
  margin-bottom: 16px;
  font-size: 0.95rem;
  line-height: 1.5;
}

.cookie-option input {
  margin-right: 10px;
  transform: scale(1.1);
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}
